#mupdate{
	display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mu_top{
	display:flex;
    height: 12vh;
    width: 100%;
    background-color: #ADC6FF;
}

.mu_text1{
	display: flex;
	position: absolute;
	color: #fff;
	font-size: 20px;
	top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 400;
    line-height: 24px;
}

.mid{
	color: #adc6ff;
	position: relative;
	display: flex;
	margin-left: 40px;
	margin-top: 70px;
}

.mid_blank{
	position: relative;
    display: flex;
	width: 70%;
    height: 40px;
    border: 1px solid #dadada;
    padding: 10px 11px 10px 11px;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
	margin-top: 20px;
	margin-left: 40px;
}

.mpw{
	color: #adc6ff;
	position: relative;
	display: flex;
	margin-left: 40px;
	margin-top: 50px;
}

.mpw_blank{
	position: relative;
    display: block;
	width: 70%;
    height: 40px;
    border: 1px solid #dadada;
    padding: 10px 11px 10px 11px;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
	margin-top: 70px;
	margin-left: 40px;
}

.mname{
	color: #adc6ff;
	position: relative;
	display: flex;
	margin-left: 40px;
	margin-top: 70px;
}

.mname_blank{
	position: relative;
    display: block;
	width: 70%;
    height: 40px;
    border: 1px solid #dadada;
    padding: 10px 11px 10px 11px;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: left;
	margin-top: 70px;
	margin-left: 40px;
}

.mbtn_btn-primary{
	color:#fff;
    background-color:#79A2FF;
    margin-bottom: 10%;
    margin-left: 10%;
    border-color: #adc6ff;
	width: 80px;
	height: 40px;
	border-radius: 10px;
	position: relative;
	display: flex;
	margin-top: 70px;
	align-items: center;
    justify-content: center;
}