.review {
	width:45%;
    height: 55px;
    background-color: #6D94EE;
    border-radius: 20px;
    position: fixed;
    left: 3%;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.que {
	width:45%;
    height: 55px;
    background-color: #6D94EE;
    border-radius: 20px;
    position: fixed;
    right: 3%;
    top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
	font-size:20px;
    font-weight: 700;
    line-height: 26px;
    color:#fff;
}

.title{
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	display: flex;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 16%;
	text-align: left;
	box-sizing: border-box;
}

.input__text{
    display: flex;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    color: #222;
    box-sizing: border-box;
    z-index: 4;
	height: 50px;
	margin-left: 25px;
}

.content{
	border-bottom: 1px solid #dadada;
	display: flex;
	width: 100%;
	height: 55%;
	position: fixed;
	top: 22%;
	text-align: left;
	box-sizing: border-box;
}

.input__text2{
    display: flex;
    width: 100%;
    font-size: 15px;
    font-weight: 450;
    line-height: 20px;
    color: #222;
    box-sizing: border-box;
    z-index: 4;
	height: 50px;
	margin-left: 25px;
}

.tag{
	border-bottom: 1px solid #dadada;
	display: flex;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 19%;
}

.ok {
	width:40%;
    height: 55px;
    background-color: #fff;
	border: 2px solid #6D94EE;
    border-radius: 20px;
    position:fixed;
    left: 3%;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 20px;
}

.ok span{
	color: #6D94EE;
}