.list_goods__title{
    margin-top:30px;
    margin-left:20px;
    font-size: 18px;
    font-weight: 500;
}
.list_goods__wrap{
    position:relative;
    overflow-x:auto;
    margin-top:5px;
    height: 250px;
    white-space: nowrap;
    -ms-overflow-style: none;
}
.list_goods__wrap::-webkit-scrollbar{
    display: none;
}
.goods_items{
    display:inline-block;
    vertical-align: top;
    background:#fff;
    width:150px;
    height:200px;
    border-radius: 10px;
    margin-top:10px;
    margin-left:20px;
    box-shadow: 0px 3px 10px rgb(0,0,0,.2);
}
.list_goods{
    margin-top:70px;
}